## Recorrer una API paginada y almacenar cada iteracion en un archivo en una carpeta

In [ ]:
import requests
import uuid
import json

In [ ]:
!mkdir /content/extracted_data #Crea la carpeta para guardar los json

In [ ]:
offset=0 # Parametros iniciales 
limit=1000 # Parametros iniciales 
while True:
  url="http://jsonplaceholder.typicode.com/photos?_start={}&_limit={}".format(offset,limit)
  print("URL for the current iteration : {}".format(url))
  result=requests.get(url);
  data_extracted=result.json();
  if(len(data_extracted)==0):
    break;
  else:
    file_name="/content/extracted_data/"+str(uuid.uuid4())+".json" # Se crean los nombres unicos para los archivos
    with open(file_name, 'w') as fp:
      json.dump(data_extracted, fp) # Se almacenan los json
    offset=offset+limit #Avanza en el ciclo

URL for the current iteration : http://jsonplaceholder.typicode.com/photos?_start=0&_limit=1000
URL for the current iteration : http://jsonplaceholder.typicode.com/photos?_start=1000&_limit=1000
URL for the current iteration : http://jsonplaceholder.typicode.com/photos?_start=2000&_limit=1000
URL for the current iteration : http://jsonplaceholder.typicode.com/photos?_start=3000&_limit=1000
URL for the current iteration : http://jsonplaceholder.typicode.com/photos?_start=4000&_limit=1000
URL for the current iteration : http://jsonplaceholder.typicode.com/photos?_start=5000&_limit=1000

In [ ]:
path_to_json = '/content/extracted_data*' 
json_pattern = os.path.join(path_to_json,'*.json')
file_list = glob.glob(json_pattern)

dfs = [] # an empty list to store the data frames
for file in file_list:
    data = pd.read_json(file) # read data frame from json file
    dfs.append(data) # append the data frame to the list

In [ ]:
df = pd.concat(dfs, ignore_index=True) # Se concatena la lista de DataFrames

In [ ]:
json_files = glob.glob('/content/extracted_data/*.json') # Se borran todos los archivos .json
for json_file in json_files:
    try:
        os.remove(json_file)
    except OSError as e:
        print(f"Error:{ e.strerror}")

---

## Recorrer una API paginada y almacenar todos los datos en un solo dataframe

In [ ]:
import requests
import json
offset=0 #Parametros iniciales
limit=1000 # Parametrod iniciales
lista=[]
while True:
  url="http://jsonplaceholder.typicode.com/photos?_start={}&_limit={}".format(offset,limit) # Url API que se recorre
  print("URL for the current iteration : {}".format(url)) #Marcador de iteracion
  result=requests.get(url); #Genera el get
  data_extracted=result.json(); # Transforma los resultados en formato json
  if(len(data_extracted)==0): # Si la data resultante es 0 el flujo para
    break;
  else:
    lista.append(pd.json_normalize(data_extracted)) # "Appenda" y crea lista de data frames
    offset=offset+limit # Avanza en el ciclo
df2 = pd.concat(lista, ignore_index=True) # Concatena la lista de dataframes
df2

URL for the current iteration : http://jsonplaceholder.typicode.com/photos?_start=0&_limit=1000
URL for the current iteration : http://jsonplaceholder.typicode.com/photos?_start=1000&_limit=1000
URL for the current iteration : http://jsonplaceholder.typicode.com/photos?_start=2000&_limit=1000
URL for the current iteration : http://jsonplaceholder.typicode.com/photos?_start=3000&_limit=1000
URL for the current iteration : http://jsonplaceholder.typicode.com/photos?_start=4000&_limit=1000
URL for the current iteration : http://jsonplaceholder.typicode.com/photos?_start=5000&_limit=1000

,albumId,id,title,url,thumbnailUrl
0,1,1,accusamus beatae ad facilis cum similique qui ...,https://via.placeholder.com/600/92c952,https://via.placeholder.com/150/92c952
1,1,2,reprehenderit est deserunt velit ipsam,https://via.placeholder.com/600/771796,https://via.placeholder.com/150/771796
2,1,3,officia porro iure quia iusto qui ipsa ut modi,https://via.placeholder.com/600/24f355,https://via.placeholder.com/150/24f355
3,1,4,culpa odio esse rerum omnis laboriosam volupta...,https://via.placeholder.com/600/d32776,https://via.placeholder.com/150/d32776
4,1,5,natus nisi omnis corporis facere molestiae rer...,https://via.placeholder.com/600/f66b97,https://via.placeholder.com/150/f66b97
...,...,...,...,...,...
4995,100,4996,voluptatem ab aliquam dolorum vel voluptas qui...,https://via.placeholder.com/600/b3db9a,https://via.placeholder.com/150/b3db9a
4996,100,4997,sunt amet autem exercitationem fuga consequatur,https://via.placeholder.com/600/13454b,https://via.placeholder.com/150/13454b
4997,100,4998,qui quo cumque distinctio aut voluptas,https://via.placeholder.com/600/315aa6,https://via.placeholder.com/150/315aa6
4998,100,4999,in voluptate sit officia non nesciunt quis,https://via.placeholder.com/600/1b9d08,https://via.placeholder.com/150/1b9d08
4999,100,5000,error quasi sunt cupiditate voluptate ea odit ...,https://via.placeholder.com/600/6dd9cb,https://via.placeholder.com/150/6dd9cb